.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}

.login-card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.logo {
  width: 150px;
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background: #6C2BD9;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  background: #125ea7;
}

.actions {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.actions a {
  font-size: 12px;
  color: #1976d2;
  text-decoration: none;
}
.link {
  cursor: pointer;
}